* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Barlow Condensed", sans-serif;
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-weight: 400;
    
    position: relative;
    height: 100vh;
  }
  
  header {
    padding: 20px 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 48px;
    height: 48px;
  }
  
  .nav-links {
    width: 55%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
    padding: 20px 50px;
    background-color: hsla(0, 0%, 10%, 0.1);
    backdrop-filter: blur(2rem);
    transition: left 0.3s ease;
    list-style: none;
  }
  
  .nav-links.active {
    left: 50%;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    gap: 20px;
    position: relative;
    white-space: nowrap;
    transition: color 0.3s ease;
  }
  
  
  .nav-links a::after {
    content: "";
    position: absolute;
    bottom: -70%;
    left: 0;
    width: 80%;
    height: 2px;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    border-radius: 20px;
  }
  
  .nav-links a:hover::after{
    visibility: visible;
    transform: scaleX(1);
  } 
   .nav-links a:focus::after {
    visibility: visible;
    transform: scaleX(1);
  } 

  hr {
    width: 40%;
    border: 1px solid #dddddd64;
    border-radius: 70px;
    padding: 0;
    position: absolute;
    left: 8%;
    z-index: 9999;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
  }
  
  .hamburger .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
    border-radius: 20px;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  .main {
    width: 100% ;
  }
  
  .titleOne {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 50px;
    text-align: start;
    letter-spacing: 2px;
  }
  .titleOne span {
    color: rgb(147, 147, 147);
    font-weight: 700;
    margin-right: 5px;
  }

.sections {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
}

.section-1 {
  width: 50%;
  padding: 0px;
  
}

.section-1 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-1 ul li {
  font-family: "Bellefair", serif;
  font-size: 32px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.section-1 li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 0;

}

.section-1 li a:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 15px rgb(251, 248, 248);
  transition: box-shadow 0.3s ease;
}

.section-1 li a:focus {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 15px rgb(251, 248, 248);
  transition: box-shadow 0.3s ease;
}

.section-2 {
  width: 90%;
  font-family: "Bellefair", serif;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 24px;
  text-transform: uppercase;
}

.section-2 .title {
  font-size: 32px;
  line-height: auto;
  font-weight: 100;
}

.section-2 .subTitle {
  font-size: 56px;
  line-height: auto;
  font-weight: 300;
}

.section-2 .description {
  font-size: 18px;
  line-height: 180%;
  color: #D0D6F9;
  text-wrap: wrap;
  margin: 0;
  padding: 0 35px 0 0;
}

.section-3 img {
  width: 500px;
  height: 450px;
}

.numbers .active {
  display: block;
}

.sec-1,
    .sec-2,
    .sec-3{
      display: flex;

    }


@media screen and (max-width: 768px) {
  body {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
    height: auto;
    margin: 0;
    }
  header{
    padding: 0;
  }
    .nav-links {
    width: 80%;
    gap: 10px;
    padding:  20px;
  }
   .nav-links a {
    font-size: 16px;
    }
    hr{
      display: none;
    }
    .main {
      width: 100%;
      margin: 0 auto;
    }
    .sections {
      width: 100%;
      align-items: center;
      flex-flow: column-reverse;
    }
    
    .section-1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .section-1 ul {
      flex-direction: row;
      font-size: 20px;
    }
    .section-1 ul {
      list-style-type: none;
      display: flex;
      margin:35px 0;
      gap: 24px;
      position: absolute;
      top: 50%; 
      transform: translateY(-50%); 
    }
  
    .section-2 {
      width: 60%;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .section-2 .title {
      font-size: 24px;
    }
    .section-2 .subTitle {
      font-size:  40px;
    }
    .section-2 .description {
      font-size:  16px;
      padding: 0;
      text-align: center;
    }
    .section-3 {
      width: 100%;
    }
    .section-3 img{
      width: 100%;
      height: auto;
    }
    .sec-1,
    .sec-2,
    .sec-3{
      flex-flow: column-reverse;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 130px;
      transition: all 0.3s ease;

    }
    img{
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

  }















  @media screen and (max-width: 480px) {
    body {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
    height: auto;
    margin: 0;
    }
    .titleOne {
      text-align: center;
      font-size: 16px;
      margin: 0 0 50px 0;
    }
    hr {
      display: none;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      z-index: 1000;
    }
    .hamburger .bar {
      width: 30px;
      height: 3px;
      background-color: #fff;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(8px, 8px);
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(8px, -8px);
    }
    nav {
      padding: 20px;
    }
  
    .logo {
      width: auto;
      height: auto;
    }
    .nav-links {
      display: none;
      position: relative;
    }
    .nav-links.active {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 10px;
      background-color: hsla(0, 0%, 10%, 0.1);
      backdrop-filter: blur(2rem);
      padding-top: 80px;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
    }
    .nav-links a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
    }
    .nav-links a:hover {
      border-right: 2px solid #fff;
      color: #fff;
    }
  
    .nav-links a:hover::after {
      visibility: hidden;
      transform: scaleX(0);
    }
  
    .hamburger-menu {
      display: flex;
      gap: 10px;
    }
    .hamburger-menu a {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
    }
    .hamburger-menu a:hover {
      color: #fff;
    }
    .hamburger-menu a::after {
      display: none;
    }
    .hamburger-menu.active {
      display: flex;
      gap: 10px;
      background-color: #fff;
      padding: 20px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
    }
    .hamburger-menu a {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
    }
    .hamburger-menu a:hover {
      color: #fff;
    }
    .hamburger-menu a::after {
      display: none;
    }
    .section-1 li a {
      font-size:   18px;
      
    }
    .section-2 {
      width: 80%;
    }

    .section-2 .title {
      font-size: 18px;
    }
    .section-2 .subTitle {
      font-size:  24px;
    }
    .section-2 .description {
      font-size:  14px ;
      padding: 0;
      text-align: center;
    }
  }
  
  
  .sec-1.active, .sec-2.active, .sec-3.active {
    display: block;
  }
  
  .hidden{
    display: none;
  }